/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    font-size: 18px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.social-links i {
    margin-right: 5px;
}

/* Scroll Hint */
.scroll-hint {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
}

.scroll-hint p {
    font-size: 16px;
    color: #666;
}

/* Section Styles */
section {
    padding: 40px;
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

.resume-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.resume-btn:hover {
    background-color: #0056b3;
}

/* Experience */
#experience .job {
    margin-bottom: 20px;
    cursor: pointer;
}

.job-header, .role {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin: 0;
}

.job-header:hover, .role:hover {
    color: #0056b3;
    text-decoration: underline;
}

.job-details {
    margin-top: 10px;
    padding-left: 15px;
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    display: none;
}

/* Projects */
#projects .project {
    margin-bottom: 20px;
    text-align: left;
}

/* Skills */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
